
/* HEADERRRR */

.container {
    max-width: 1600px;
    width: 100%;
    margin: 15px auto;
}

.headerflex {
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
    height: 30px;
    width: 30px;
    margin-right: 40px;
    margin-top: 5px;
}

nav ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 40px;
}

.logo {
    padding-left: 40px;
}

li a {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
}


/* SECTION 1 */

.s1 {
    height: 606px;
    background-image: url(../images/section1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 h1 {
    color: #FFF;
    font-size: 79px;
    font-family: Helvetica;
    font-weight: 700;
    text-align: center;
}

.div1 h4 {
    color: #FFF;
    font-size: 19px;
    font-family: Helvetica;
    text-align: center;
}


/* SECTION 2 */

.s2 {
    width: 1300px;
    margin: 80px auto;
}

.s2flex {
    display: flex;
    justify-content: space-between;
}

.information {
    width: 235px;
    height: 200px;
    margin-left: 30px;
}

.information h2 {
    color: #636060;
    font-size: 17px;
    font-family: Helvetica;
    margin-bottom: 10px;
}
.information h5 {
    color: #010101;
    font-size: 28px;
    font-family: Helvetica;
    margin-bottom: 30px;
}
.information p {
    color: #636060;
    font-size: 20px;
    font-family: Helvetica;
}


/* FOTOEBII */

.cardebi {
    max-width: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
}

.card {
    max-width: 286px;
    margin-bottom: 60px;
}

.card img {
    width: 100%;
}

.card h4 {
    color: #343232;
    font-size: 19px;
    font-family: Helvetica;
    margin-bottom: 10px;
    margin-top: 15px;
}

.card p {
    color: #636060;
    font-size: 18px;
    font-family: Helvetica;
}

